body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    background-color: hsl(120, 100%, 90%);
}

#counterDisplay {
    display:  block;
    text-align: center;
    font-size: 10em;
    font-family: Arial, Helvetica, sans-serif;
}

#btnContainer {
    text-align: center;
}

.buttons {
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: hsl(114, 100%, 94%);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
    color: black;
}
.buttons:hover {
    background-color: rgb(0, 255, 55);
}

#container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    background-color: hsl(150, 100%, 50%);
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
}
